html, 
body,
[ng-view] {
	height: 100%;
}

body {
	color: #111111;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	position: relative;
}

a { 
	text-decoration: none;
}
ul { 
	list-style: none;
}

p {
	font-size: 1em; /* 16px */
	line-height: 1.5000em; /* 24px */
	margin: 0 0 1.5000em 0;
}
h1 { 
	font-size: 3.0000em; /* 48px */
	line-height: 1.0000em; /* 48px */
	margin-top: 0.5000em;  
	margin-bottom: 0.0000em;
}
h3 { 
	font-size: 2.2500em; /* 36px */
	line-height: 1.3333em; /* 48px */
	margin-top: 0.6667em;  
	margin-bottom: 0.0000em;
}
h3 { 
	font-size: 1.8750em; /* 30px */
	line-height: 1.6000em; /* 48px */
	margin-top: 0.8000em; 
	margin-bottom: 0.0000em;
}
h4 { 
	font-size: 1.5000em; /* 24px */
	line-height: 1.0000em; /* 24px */
	margin-top: 1.0000em;  margin-bottom: 0.0000em;
}
h5 { 
	font-size: 1.2500em; /* 20px */
	line-height: 1.2000em; /* 24px */
	margin-top: 1.2000em;  margin-bottom: 0.0000em;
}
h6 { 
	font-size: 1.1250em; /* 18px */
	line-height: 1.3333em; /* 24px */
	margin-top: 1.3333em;  margin-bottom: 0.0000em;
}

input {
	-webkit-appearance:button;
	-moz-appearance:button;
	appearance:button;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input:focus {
	outline: 0;
}

.container {
	background-color: #111;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
}

.search {
	/*background: rgba(0,0,0,.8);*/
	/*position: absolute;*/
	padding: 10px;
	/*left: 0;
	top: 0;*/
	/*width: 100%;*/
	/*z-index: 999;*/
}

.search-input-wrap {
	position: relative;
	margin-bottom: 10px;
}
.search-input-wrap .search-input-icon-append {
	position: absolute;
	line-height: 60px;
	left: 20px;
	z-index: -1;
}
.search-input-wrap .search-input-icon-prepend {
	position: absolute;
	line-height: 60px;
	left: 20px;
	z-index: -1;
}
.search-input-wrap .search-input {
	background: rgba(0,0,0,0);
	border: 1px solid #aaa;
	display: block;
	text-transform: uppercase;
	padding: 0px 50px;
	font-size: 1.1250em;
	line-height: 1.3333em;
	height: 60px;
	width: 100%;
}
.search-input:focus {
	color: #555;
}

.search-result {

}
.search-result a {
	color: #000;
	display: block;
	padding: 1.2000em;
	font-size: 1.2500em;
	line-height: 1.2000em;
}
.search-result a:hover {
	background: #ddd;
}
.search-result.ng-enter {
	opacity: 0;
	-webkit-animation: 0.1s enter;
	-moz-animation: 0.1s enter;
}
.search-result.ng-enter-stagger {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-webkit-animation-duration: 0;
	-moz-animation-duration: 0;
}

@-webkit-keyframes enter {
	0% {
		-webkit-transform: translate3d(-100%,0,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}
@-moz-keyframes enter {
	0% {
		-webkit-transform: translate3d(-100%,0,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}

.zip {
	color: #fff;
	position: absolute;
	margin: 0 10px 10px 0;
	bottom: 0px;
	right: 0px;
}
.zip .zip-code {
	/*text-shadow: 1px 1px 1px rgba(0,0,0,1);*/
	/*font-size: 170px;*/
	font-weight: 800;
	/*line-height: 170px;*/
	/*letter-spacing: -5px;*/
	text-align: right;
}
.zip .zip-address {
	/*font-size: 20px;*/
	/*line-height: 20px;*/
	/*text-shadow: 1px 1px 1px rgba(0,0,0,.8);*/
	margin: 0;
	text-align: right;
}