<div ng-controller="MainCtrl" class="search">
	<div class="search-input-wrap">
		<div class="search-input-icon-append" ng-show="loading">
			<i class="fa fa-spinner fa-spin"></i>
		</div>
		<div class="search-input-icon-prepend" ng-hide="loading">
			<i class="fa fa-search"></i>
		</div>
		<input class="search-input" type="text" ng-change="search(query)" ng-model="query" autofocus="true" placeholder="">
	</div>

	<div class="search-result" ng-repeat="code in codes">
		<a ng-href="#/zip/{{code._id}}">
			<i class="fa fa-angle-double-right pull-right"></i>
			{{code.asentamiento}} <br>
			{{code.ciudad || code.municipio}} <br>
			{{code.estado}}
		</a>
	</div>
</div>

<!-- <div ng-controller="StatesCtrl" class="states">
	<div class="state" ng-repeat="state in states" ng-style="{ 'background-image': 'url(images/states/'+{{$index+1}}+'.jpg)' }">
		<a href="#">
			{{state._id}}
		</a>
	</div>
</div> -->