<div class="container" ng-style="bg" flickr-background="photo">
	<div style="color: #fff; position: absolute; left:0; right:0; top:0; bottom:0; width: 28px; height: 32px; margin: auto;" ng-show="loadingFlickrImage">
		<i class="fa fa-spinner fa-spin fa-2x"></i>
	</div>
	<div class="zip">
		<h1 class="zip-code">{{zip.cp}}</h1>
		<p class="zip-address">
			{{zip.asentamiento}},
			{{zip.ciudad || zip.municipio}},
			{{zip.estado}}
		</p>
	</div>
</div>